/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {
	font-family:abcdef;
	src:
		url("REPUBLK_.eot?") format("eot"),
		url("REPUBLK_.woff") format("woff"),
		url("REPUBLK_.ttf") format("truetype"),
		url("REPUBLK_.svg#Republikaps") format("svg");
	font-weight:normal;
	font-style:normal;
}


html {
	height:100%;
	width:100%;
}

body {
	overflow:hidden;
	-ms-content-zooming:none;
	background-color:black;
}

@media screen and (orientation: portrait) {
    @-ms-viewport {
        width: 100%;
		height:100%;
        user-zoom: fixed;
        max-zoom: 1;
        min-zoom: 1;
    }
}

.gamelayer {
	height:100%;
	width:100%;
	position:absolute;
	display:none;
	background-image:url(../asset/background/background_main.png);
	background-size: 100%;
	background-repeat:no-repeat;
}

.center {
	width: 75%;
    height: 75%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/** SCREENBACKGROUND */
#screen_mainmenu {
	
}

#screen_dashboard{
	background-image:url(../asset/background/background_dashboard.png);
	background-size: 100%;
	background-repeat:no-repeat;
}

#newcompanyform{
	background-image:url(../asset/background/background_newcompany.png);
	margin-top:110px;
	background-size: 100%;
	background-repeat:no-repeat;
	width:100%;
	height:0px;
}

.gamesublayer {
	background-image:url(../asset/background/background_siteoverview.png);
	margin-right:-100%;
	margin-top:0px;
	background-size:100%;
	background-repeat:no-repeat;
	width:90%;
	height:740px;
	position:absolute;
	right:0;
	color:white;
}


/** MENU UI */

.menucontainer{
	width:480px;
	height:84px;
}

#btnNewGame{
	background-image:url(../asset/button/btnNewGame.png);
	margin-top:200px;
	background-size: 100%;
	background-repeat:no-repeat;
	margin-left:-100%;
}

#btnContinueGame{
	background-image:url(../asset/button/btnContinue.png);
	margin-top:20px;
	background-size: 100%;
	background-repeat:no-repeat;
	margin-left:-100%;
}

#btnCredits{
	background-image:url(../asset/button/btnCredits.png);
	margin-top:20px;
	background-size: 100%;
	background-repeat:no-repeat;
	margin-left:-100%;
}

#btnNewCompany {
	background-image:url(../asset/button/btnNewCompany.png);
	background-size: 100%;
	background-repeat:no-repeat;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
	width:95%;
}

#btnNorthPole{
	position:absolute;
	width:116px;
	height:116px;
	left:247px;
	top:201px;
}

#btnEquator{
	position:absolute;
	width:116px;
	height:116px;
	left:118px;
	top:340px;
}

#btnSouthPole{
	position:absolute;
	width:116px;
	height:116px;
	left:184px;
	top:559px;
}

#newcompanyform input[type="text"]{
    
    padding: 5px;   
    border: 1px solid #DDDDDD;
	
	font-size: 24px; 
	width: 80%;
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
#newcompanyform input[type="text"]:hover
{
    border:1px solid #cccccc;
}
#newcompanyform input[type="text"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}

.singleBuilding {
	border:2px solid black;
	width:90%;
	height:130px;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	padding:3px;
	background-color:rgba(0,0,0,0.8);
}

.buildingImage{
	border:1px solid white;
}

.buildingDetail{
	text-align:left;
	height:130px;
	font-size:16px;
	color:#0072d5;
	font-family:abcdef;
	margin-left:140px;
}

.closeBtn{
	position:absolute;
	top:10px;
	left:0px;
	background-image:url(../asset/button/btnClose.png);
	background-repeat:no-repeat;
	background-size:100%;
	width:40px;
	height:40px;
}

.textcenter {
	text-align:center;
}

.mbot10{
	margin-bottom:10px;
}